* {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#6866eb, #47e4ca)
}

.container {
  width: 1000px;
  height: 600px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}

.left {
  width: 300px;
  height: 100%;
  background-color: #0194e9;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.right {
  width: 700px;
  height: 100%;
  background-color: #35c1d0; 
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.profile {
  text-align: center;
  margin-top: 50px;
}

.name {
  font-size: 20px;
}

.profileImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.nav {
  text-align: center;
  margin: 40px;
}

.nav p {
  margin: 40px;
  font-size: 20px;
  color: white;
}

.nav p:hover {
  color: black;
  cursor: pointer;
}

