@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
  font-family: 'Indie Flower', cursive;
  background-color: #fff;
}

.myshadow {
  box-shadow: 10px 10px 10px black;
}

.bgdanger {
  background-color: red;
}