
.container {
  border-style: solid;
  border-color: #03c4a1;
  border-radius: 20px;
  border-width: 1px;
  box-shadow: 10px 10px 10px #03c4a1;
  padding: 20px;
  display: inline-block;
  text-align: center;
  background-color: #03c4a1;
}

button {
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  border-color: #03c4a1;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 1s;
}

* {
  font-size: 20px;
  font-family: 'Fira Sans', sans-serif;
}

h1 {
  font-size: 30px;
}

body {

  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  /* background-image: url(https://media.giphy.com/media/Cv7wrQjYcd6hO/giphy.gif);
  background-repeat: no-repeat;
  background-size: 100%; */
}

/* input {
  color: white;
  background-color: black;
} */
